//comp
#jsResultsList {
      display: none;
}

.form-horizontal {
   position: relative;
}

#ajaxLoader {
   display: none;
   background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    margin-left: -30px;
    left: 50%;
    margin-top: 12%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.45);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.thankyou-modal {
   position: absolute;
   z-index: 9;
   background-color: green;
   padding: 10.5% 2% 7%;
   width: 100%;
   border-radius: 3px;
   margin-top: 10%;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.45);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.45);

   p {
      text-align: center;
   }
}

.comp {
   &__wrapper {
      p, label {
         font-family: 'GalaxiePolaris-Book';
         color: white;
      }

      p {
         font-size: 1.3rem;
         line-height: 2rem;
      }

      label {
         text-transform: uppercase;
         font-size: 0.7rem;
         letter-spacing: 1px;
         font-family: 'GalaxiePolaris-Heavy';
         margin-bottom: 5px;

         &.checkboxLabel {
               font-family: 'GalaxiePolaris-BookItalic';
               font-size: 0.8rem;
               text-transform: none;
               letter-spacing: 0px;
         }
      }


      .btn {
         width: 50%;
         margin: auto;
         margin-top: 25px;

         &:active, &:focus {
               color: white;
               outline: none;
         }
      }

      input {
         border-radius: 2px;
         border: 2px solid #FFFFFF;
         background-color: transparent;
         color: white;

         font-weight: normal;
         font-family: 'GalaxiePolaris-Book';

         &:active, &:focus {
            color: black;
         }
      }
   }

   &__section {
      padding: 4% 5% 5%;

      &--good {
         width: 30%;
         float: left;
         background: $good url('../images/prizing.jpg') top right no-repeat;
         background-size: 88%;

         @media screen and (max-width: $break-small) {
            display: none;
         }
      }

      &--bad {
         width: 70%;
         float: right;
         background-color: $bad;

         @media screen and (max-width: $break-small) {
            width: 100%;
         }
      }
   }
}
