//fonts


@font-face {
  font-family: 'GalaxiePolaris-BookItalic';
  src: url('../fonts/GalaxiePolaris-BookItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-BookItalic.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-BookItalic.woff') format('woff'), url('../fonts/GalaxiePolaris-BookItalic.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-BookItalic.svg#GalaxiePolaris-BookItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GalaxiePolaris-Light';
  src: url('../fonts/GalaxiePolaris-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-Light.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-Light.woff') format('woff'), url('../fonts/GalaxiePolaris-Light.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-Light.svg#GalaxiePolaris-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalaxiePolaris-Book';
  src: url('../fonts/GalaxiePolaris-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-Book.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-Book.woff') format('woff'), url('../fonts/GalaxiePolaris-Book.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-Book.svg#GalaxiePolaris-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'GalaxiePolaris-Heavy';
  src: url('../fonts/GalaxiePolaris-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-Heavy.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-Heavy.woff') format('woff'), url('../fonts/GalaxiePolaris-Heavy.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-Heavy.svg#GalaxiePolaris-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'GalaxiePolaris-BoldItalic';
  src: url('../fonts/GalaxiePolaris-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-BoldItalic.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-BoldItalic.woff') format('woff'), url('../fonts/GalaxiePolaris-BoldItalic.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-BoldItalic.svg#GalaxiePolaris-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GalaxiePolaris-HeavyItalic';
  src: url('../fonts/GalaxiePolaris-HeavyItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GalaxiePolaris-HeavyItalic.otf')  format('opentype'),
	     url('../fonts/GalaxiePolaris-HeavyItalic.woff') format('woff'), url('../fonts/GalaxiePolaris-HeavyItalic.ttf')  format('truetype'), url('../fonts/GalaxiePolaris-HeavyItalic.svg#GalaxiePolaris-HeavyItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
