/**Header styles for IGN base template***/
$ign_red		: #BB1D2B;

nav.tab-bar {
	position: fixed;
	width: 100%;
	overflow: hidden;
}



/**red header**/
.tab-bar {
	background: white url(../images/halfnhalf.png) center center repeat-y;
	background-size: cover;
	z-index: 999;

	.row {
		background-color: white;
	}
}

.ign_red-wrapper {
	background-color: $ign-red;
	position: relative;
	height: 100%;
	width: 20%;
	float: left;

	img {
		width: 104px;
		float: right;
		margin-right: 10px;
	}
}


#share_override.share_btn {
	border-right: 1px solid #c4c4c4;
	list-style: none;
	width: 110px;
	margin: 0px;
	height: 45px;
	padding: 0px;
	cursor: pointer;

	&.sharer-0 .social ul li {
		height: 22px;
		width: 60px;
		line-height: 24px;
	}

	&.sharer-0 label {
		font-size: 14px;
		background-color: transparent;
		text-align: center;
		padding-top: 11px;
	}

	&:hover {
		//background-color: $vapor;
	}

	li {
		width: 100%;
		height: 100%;
		display: block;


		a {
			font-size: 14px;
		}
	}

	.share_icon {
		background: transparent url(../images/share.png) 0px 0px no-repeat;
		display: block;
		height: 24px;
		width: 24px;
		float: right;
		margin-top: 3%;
	}
}

#start_modal {

	padding: 0px;
	border: none;

	p {
		padding: 1.875rem;
		background-color: $ign-red;
		width: 100%;
		color: white;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-topright: 3px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom: 1px solid #992A35;

		a {
		}
	}

	#no_age_cookie {

		padding: 1.875rem;

		select {
			width: 31%;
			margin-right: 2%;

			&#byear {
				margin-right: 0px;
			}
		}

		#submit_birthdate {
			margin-bottom: 0px;
			display: block;
		}
	}

}


// Small screens

@media only screen and (max-width: 40em) {

	.ign_red-wrapper {
		width: 50%;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

	.ign_red-wrapper {
		width: 30%;
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
