//parallax

.parallaxParent {
   height: 100vh;
   overflow: hidden;
}
.parallaxParent > * {
   height: 200%;
   position: relative;
   top: -100%;
   background-size: contain;
   background-position: center -30px;
}
