//share icon

//responsive styles
$break-small: 640px;
$break-medium: 880px;
$break-large: 1200px;

.share {
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: white;
   padding: 5px 9px;
   position: absolute;
   right: 43%;
   margin-top: -43px;

   @media screen and (max-width: $break-medium) {
      display: none;
   }

   a {
      color: black;
      font-size: 1.1em;
      outline: none;
   }
}

.share-title {
     font-family: 'GalaxiePolaris-Light';
     font-size: 1.2em;
     text-align: center;
     width: 100%;
     display: block;
}

.basic.modal {
   a {
      color: white;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      font-size: 1.8em;
      display: block;
      background-color: transparent;
      position: relative;
      right: 0px;

      i {
         display: block;
         margin-bottom: 10px;
      }

      .counter {
         font-family: 'GalaxiePolaris-Light';
         font-size: 1.5rem;
         letter-spacing: 2px;


         &:before {
            content: '';
            width: 30px;
            height: 1px;
            background-color: white;
            display: block;
            margin: 25px auto;
         }
      }
   }

   .close.icon {
      top: -3rem!important;
   }
}




//addthis overides

#atstbx {
   padding-top: 6px;
   height: 20px;
}

.at-share-btn.at-svc-facebook {
   margin-left: 7px!important;
}
