//skin

body {
   background-color: black;
}

.us-skin {
   background: black url('../images/Skin-1500x1000-update04_final.jpg') fixed center 45px no-repeat;
}

.uk-skin {
   background: black url('../images/halo_skin.jpg') fixed center 45px no-repeat;
}

.site__container {
   min-height: 1000px;
   background-color: black;

   -webkit-box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.45);
   -moz-box-shadow:    0px 0px 10px 0px rgba(50,50,50,0.45);
   box-shadow:         0px 0px 10px 0px rgba(50,50,50,0.45);
}

.banner {

   &__container {
      margin: 57px auto 12px;
      height: 250px;
      width: 970px;

      .hide {
         display: none;
      }

      @media screen and (max-width: $break-medium) {
         width: 100%;
         height: 11rem;
      }

      img {
         margin-top: 25px;
         margin-left: 30px;

         @media screen and (max-width: $break-small) {
           margin: 25px auto;
           display: block;
         }
      }
   }

}


.flex-video.widescreen {
    padding-bottom: 41.34%;
    width: 375px;
    margin-top: 17px;
    margin-left: 38px;


    @media screen and (max-width: $break-small) {
      display: none;
    }
}


.youtube__wrapper {
   padding: 5px;
   background-color: rgba(0, 0, 0, 0.5);
}
