//submit

.submitbar {

   height: 200px;
   background: black url(../images/submit_bg.jpg) top center no-repeat;
   background-size: cover;

   @media screen and (max-width: $break-small) {
      height: auto;
   }

   &__container {
      padding: 70px 100px;

      @media screen and (max-width: $break-medium) {
         padding: 20px 50px;
      }

      @media screen and (max-width: $break-small) {
         padding: 20px 30px;
      }

   }

   p {
      font-size: 1.4rem;
      color: white;
      font-family: 'GalaxiePolaris-Book';
   }

}


.btn {
   border: 2px solid white;
   border-radius: 2px;
   text-transform: uppercase;
   color: white;
   padding: 0.7rem;
   width: 100%;
   font-family: 'GalaxiePolaris-Heavy';
   font-size: 1.5rem;
   letter-spacing: 2px;
   display: block;
   text-align: center;
   margin-top: 0px;

   &.submit_btn {
      @media screen and (max-width: $break-small) {
          width: 80%!important;
      }
   }

   &:hover {
      color: #efefef;
   }
}


.disabled {
   opacity: 0.5;
   pointer-events: none;
}
