//title section



.toppanel {

   &__container {
      height: 400px;
      padding: 3% 4% 5%;
      background: $good url(../images/angle-red.png) top left no-repeat;
      background-size: 63.5%;

      @media screen and (max-width: $break-medium) {
         background-image: none;
         padding: 0px;
         height: auto;
      }
   }

   &__copyright {
      width: 42%;
      text-align: right;
      float: right;
      margin-top: -50px;

      @media screen and (max-width: $break-medium) {
         width: 100%;
         display: block;
         background-color: $good;
         padding: 20px;
         float: none;
         margin: auto;
      }

      p {
         font-size: 0.9em;
          font-family: 'GalaxiePolaris-Book';

          &.heavyitalic, span.heavyitalic {
             font-family: 'GalaxiePolaris-HeavyItalic';
          }
      }

   }

   &__copyleft {
      position: relative;
      min-height: 200px;

      @media screen and (max-width: $break-small) {
         min-height: auto;
      }

      @media screen and (max-width: $break-medium) {
         width: 100%;
         display: block;
         background-color: $bad;
         padding: 20px;
         float: none;
         margin: auto;
      }

      img {
         display: none;

         &.show {
            display: block;
         }

         @media screen and (max-width: $break-medium) {
            display: block;

            &.show {
               display: none;
            }
         }

      }

      @media screen and (max-width: $break-small) {
         background-color: #BA1F25;
      }

      h1 {
         font-size: 5.3em;
         font-family: 'GalaxiePolaris-Heavy';
         text-transform: uppercase;
         color: white;
         width: 49%;
         line-height: 0.8em;
         margin: 0px;

         @media screen and (max-width: $break-medium) {
            display: none;
         }

         .small {
            font-size: 30px;
            display: block;

            &:last-child {
               text-align: right;
            }
         }
      }

   }

}
