//vote panel

.votepanel {

   &__container {
      height: 150px;
      width: 100%;
      background-color: black;
      position: relative;
      overflow: hidden;
      margin-bottom: 2px;

      @media screen and (max-width: $break-small) {
         height: 125px;
      }
   }

   &__spacer {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: black;
      height: 400px;
      width: 400px;
      margin: auto;
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -200px;
   }

   &--title {
      position: absolute;
      top: 20px;
      width: 100%;

      ul {
         list-style: none;
         text-align: center;
         margin: 0px;


         li {
            display: inline-block;
            color: white;
            font-family: 'GalaxiePolaris-Light';
            vertical-align: middle;


            &:first-child, &:last-child {
               font-size: 1.2em;
               text-transform: uppercase;
               padding: 10px;
               width: 45%;
               font-family: 'GalaxiePolaris-Heavy';
            }

            &:first-child {
               text-align: right;
            }

            &:last-child {
               text-align: left;
            }


            span {
               font-size: 0.7em;
                display: block;
                line-height: 7px;
            }

         }
      }
   }

   &__select {

      position: absolute;
      z-index: 99;
      width: 200px;

      @media screen and (max-width: $break-small) {
         width: 250px;
         margin-left: -125px;
      }

      margin-left: -100px;
      left: 50%;
      margin-top: 80px;
      top: 0px;




      &--checkbox {
         border-radius: 50%;
         border: 3px solid white;
         height: 30px;
         width: 30px;
         cursor: pointer;

         @media screen and (max-width: $break-small) {
            height: 40px;
            width: 40px;
         }

         &.good {
               border-color: $good;

               .check {
                  background-color: $good;
               }
         }

         &.bad {
               border-color: $bad;

               .check {
                  background-color: $bad;
               }
         }

         .check {
            background-color: white;
            height: 18px;
            width: 18px;

            @media screen and (max-width: $break-small) {
               height: 28px;
               width: 28px;
            }

            border-radius: 50%;
            margin: 3px auto 0px;


            -webkit-transform: scale( 0 );
            -moz-transform: scale( 0 );
            -o-transform: scale( 0 );
            -ms-transform: scale( 0 );
            transform: scale( 0 );

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
         }

         &.active {

            .check {
               -webkit-transform: scale( 1 );
               -moz-transform: scale( 1 );
               -o-transform: scale( 1 );
               -ms-transform: scale( 1 );
               transform: scale( 1 );
               vertical-align: middle;
            }

         }

         &:first-child {
            float: left;
         }

         &:last-child {
            float: right;
            margin-top: -17px;

            @media screen and (max-width: $break-small) {
                margin-top: 0px;
            }
         }
      }

      &--bar {
         width: 120px;
         margin: auto;
         background-color: white;
         height: 3px;
         border-radius: 2px;
         margin-top: 15px;
         overflow: hidden;
         position: relative;
         margin-left: 39px;

         @media screen and (max-width: $break-small) {
             position: absolute;
             z-index: 0;
             margin-left: 64px;
          }

         .badbar {
            height: 100%;
            width: 50%;
            float: right;
            background-color: $bad;
         }

         .goodbar {
            height: 100%;
            width: 50%;
            float: left;
            background-color: $good;
         }
      }

   }


   &__character {
      position: absolute;
      top: 0px;
      width: 220px;

      img {
         position: absolute;

         &:last-child {
            position: absolute;
            top: 0px;

            @media screen and (max-width: $break-small) {
               opacity: 0.6;
            }

         }
      }

      @media screen and (max-width: $break-small) {
         width: 180px;
      }


      &.first {
         left: 17%;

         @media screen and (max-width: $break-medium) {
            left: 0px;
         }


         @media screen and (max-width: $break-small) {
            left: -19%;
         }


      }

      &.last {
         right: 17%;

         @media screen and (max-width: $break-medium) {
            right: 0px;
         }

         @media screen and (max-width: $break-small) {
            right: -19%;
         }


         &.large {
            width: 330px;
            right: 5%;

            @media screen and (max-width: $break-medium) {
               right: -20%;
            }

            @media screen and (max-width: $break-small) {
               right: -60%;
            }
         }
      }
   }

}


.ui.modal>.content {
   padding-top: 40px!important;
}

.results__container {
   overflow: hidden;
   height: 400px;
   padding-bottom: 30px;
   padding-top: 60px!important;
   background-color: black!important;

   @media screen and (max-width: $break-small) {
      overflow-y: scroll;
   }

   .votepanel {

      &__leftpercentage {
         float: left;
         color: white;
         font-family: 'GalaxiePolaris-Light';
         font-size: 0.7rem;
         margin-top: 5px;
      }

      &__rightpercentage {
         float: right;
         color: white;
         font-family: 'GalaxiePolaris-Light';
         font-size: 0.7rem;
         margin-top: 5px;
      }

      &__leftname {
         float: left;
         color: white;
         font-family: 'GalaxiePolaris-Heavy';
         font-size: 0.7rem;
         text-transform: uppercase;
         position: absolute;
         left: 0px;
         top: -23px;
         letter-spacing: 1px;
      }

      &__rightname {
         float: right;
         color: white;
         font-family: 'GalaxiePolaris-Heavy';
         font-size: 0.7rem;
         text-transform: uppercase;
         position: absolute;
         right:0px;
         top: -23px;
         letter-spacing: 1px;
      }

      &__select {
         position: relative;
         margin: auto;
         width: 80%;
         height: 70px;
         left: 0;
         opacity: 0;
         margin-top: 10px;

         @media screen and (max-width: $break-small) {
             width: 100%;
         }

         &--checkbox {
            height: 40px;
            width: 40px;
            cursor: default;
            overflow: hidden;
            border: none;
            background-color: white;

            @media screen and (max-width: $break-small) {
                display: none;
            }

            img {
               margin-top: 3px;
            }

            &:last-child {
               margin-top: 0px;
               background-color: $bad;
            }
         }

         &--bar {
            margin-left: 15px;
            width: 80%;
            float: left;
            margin-top: 18px;
            overflow: visible;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            position: relative;

            @media screen and (max-width: $break-small) {
                margin-left: 0px;
                width: 100%;
            }

            .goodbar {
               -webkit-border-top-left-radius: 2px;
               -webkit-border-bottom-left-radius: 2px;
               -moz-border-radius-topleft: 2px;
               -moz-border-radius-bottomleft: 2px;
               border-top-left-radius: 2px;
               border-bottom-left-radius: 2px;
            }

            .badbar {
               -webkit-border-top-right-radius: 2px;
               -webkit-border-bottom-right-radius: 2px;
               -moz-border-radius-topright: 2px;
               -moz-border-radius-bottomright: 2px;
               border-top-right-radius: 2px;
               border-bottom-right-radius: 2px;
            }
         }
      }

   }
}
